.header {
    background-color: #222;
    padding: 8px;
    padding-right: 32px;
    padding-left: 16px;
    height: 36px;
    display: flex;
    position: relative;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
    animation: rotateLogo 8s infinite;
    animation-timing-function: linear;
}

@keyframes rotateLogo {
    50% {
        transform: rotateY(360deg);
    }
}

.header-buttons-div
{
    display: block;
    margin-left: auto;
    margin-right: 0;
}

#logoutButton{
    display: none;
}

#bookShowButton
{
    margin-right: 8px;
    display: none;
}